@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

        :root {
            --primary: #FA58B6;
            --dark: #21252f;
            --body: #888;
            --white: #ffffff;
            --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
            --transition: all 0.4s ease; 
        }

        body {
            overflow-x: hidden;
            font-family: 'Josefin Sans', sans-serif;
            line-height: 1.7;
            color: var(--body);
            width: 105% !important;
            background-color: #1A1A40 !important;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .display-4 {
            color: var(--dark);
            font-weight: 700;
        }

        a {
            color: var(--dark);
            text-decoration: none;
        }

        img {
            width: 100%;
        }

        .navbar {
            background-color: #1A1A40 !important;
        }

        .navbar h2,
        .navbar ul li a{
            color: white !important;
        }

        nav ul li:hover {
            background-color: rgb(122, 11, 192);
            box-shadow: 1px -1px 1px 1px rgb(250, 88, 182),
            -1px 1px 1px 1px rgb(122, 11, 192);
            margin: auto 5px;
        }

        nav ul li a:hover {
            color: white !important;
            cursor: pointer;
            /* pointer-events:painted; */
        }

        .logo {
            width: 160px;
        }

        .navbar .nav-link {
            font-size: 14px;
            font-weight: 700;
        }

        .navbar .nav-link.active {
            color: var(--primary) !important;
        }

        .btn {
            padding: 14px 18px;
            border-width: 2px;
            transition: all 1s ease;
        }

        .btn-porto {
            border: 1px solid #FA58B6;
            width: 200px;
            color: #FA58B6;
            transition: var(--transition);
        }

        .btn-porto:hover {
            background-color: #FA58B6;
            color: white;
            /* box-shadow: 1px 1px 8px 10px rgba(0, 125, 125, 0.1); */
            box-shadow: 0px 0px 10px 5px rgb(250, 88, 182);
        }

        .hero {
            /* background-image: url('../img/2020_0823_06280900.jpg'); */
            background-color: #1A1A40;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            position: relative;
            z-index: 2;
            /* height: 720px; */
            color: #333;
        }

        .hero .display-1{
            color: white !important;
            font-weight: 700;
        }

        .hero p.my-3{
            color: white !important;
        }

        #features{
            background-color: #1A1A40 !important;
        }

        #features h2{
            color: white !important;
        }

        #features img {
            width: 400px;
            box-shadow: -5px -5px 1px 1px rgba(122, 11, 192, 0.5),
                5px 5px 1px 1px rgba(250, 88, 182, 0.7);
            transition: all 0.4s ease !important;
            /* border: 10px solid red; */
        }

       

        #features img:hover {
            box-shadow: -5px -5px 15px 20px rgba(122, 11, 192, 0.7),
                5px 5px 15px 20px rgba(250, 88, 182, 0.5);
            width: 380px;
        }

        .project {
            position: relative;
            overflow: hidden;
        }

        #portofolio h2{
            color: white !important;
        }

        #portofolio h4{
            color: white;
        }

        .project .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(39, 0, 130, 0.6);
            padding: 30px;
            display: flex;
            align-items: flex-end;
            transition: all 0.4s ease;
            opacity: 0;
        }

        .project img {
            transition: all 0.4s ease;
        }

        .project:hover .overlay {
            opacity: 1;
        }

        .project:hover img {
            transform: scale(1.1);
        }

        .wadah-capt-project {
            margin: 30px;
            padding: 10px;
            background-color: #222;
            box-shadow: -5px -5px 1px 1px rgba(122, 11, 192, 0.5),
                5px 5px 1px 1px rgba(250, 88, 182, 0.7);
            transition: all 0.3s ease;
        }

        .wadah-capt-project:hover {
            margin: 40px;
            background-color: #222;
            box-shadow: -5px -5px 5px 10px rgba(250, 88, 182, 0.5),
                5px 5px 5px 10px rgba(122, 11, 192, 0.7);
        }

        .wadah-capt-project p {
            color: #aaa;
        }

        #contact h2{
            color: white !important;
        }

        form input.form-control {
            height: 56px;
        }

        form .form-control {
            border: transparent;
            background-color: #222;
             transition: all 0.4s ease;
        }

        .alert{
            margin-bottom: 20px !important;
            background-color: #222 !important;
            border-radius: 0px !important;
            outline: none !important;
            color: white;
           box-shadow: -5px -5px 1px 1px rgba(122, 11, 192, 0.5),
                5px 5px 1px 1px rgba(250, 88, 182, 0.7);
        }

        .alert .btn-close{
            color: white !important;
        }

        .bg-outline-pink {
            /* background-color: #FA58B6; */
            border: 1px solid #FA58B6;
            color: #FA58B6 !important;
            transition: all 1 ease !important;
        }

        .bg-outline-pink:hover{
            background-color: #FA58B6;
            color: white !important;
            box-shadow: 0px 0px 10px 5px rgb(250, 88, 182);
        }

        /* .hero::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.7);
            z-index: -1;
        } */

        section {
            padding-top: 120px;
            padding-bottom: 120px;
        }

        .card-effect {
            box-shadow: var(--box-shadow);
            background-color: var(--white);
            padding: 25px;
            transition: all 0.35s ease;
            border-radius: 20px;
            transition: all 0.5s ease;
        }

        .card-effect:hover {
            box-shadow: none;
            transform: translateY(5px);
        }

        .iconbox {
            width: 54px;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--primary);
            color: var(--white);
            font-size: 32px;
            border-radius: 100px;
            flex: none;
        }


        .service {
            position: relative;
            z-index: 2;
            overflow: hidden;
        }

        .service:hover{
            background-color: var(--primary);
        }

        /* .service::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: -100%;
            left: 0;
            background-color: var(--primary);
            z-index: -1;
            opacity: 0;
            transition: all 0.4s ease;
        } */


        .service:hover .iconbox {
            background-color: var(--white);
            color: var(--primary);
        }

        .service:hover h5,
        .service:hover p {
            color: var(--white);
            ;
        }

        /* .service:hover::after {
            opacity: 1;
            top: 0;
        } */

        .col-img {
            /* background-image: url('../img/DSCF2499.JPG'); */
            background-position: center;
            background-size: cover;
            min-height: 500px;
        }

        .pricing i {
            font-size: 20px;
            color: var(--primary);
        }

        .pricing ul li {
            margin-top: 8px;
        }

        .team-member img {
            width: 125px;
            height: 125px;
            border-radius: 100px;
        }


        .social-icons {
            display: flex;
            justify-content: center;
        }

        .social-icons a {
            width: 34px;
            height: 34px;
            background-color: var(--primary);
            border-radius: 2px solid var(--primary);
            color: var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            margin-left: 5px;
            transition: all 0.4s ease;
            border: 2px solid var(--primary);
        }

        .social-icons a:hover {
            color: var(--primary);
            background-color: transparent;
            border-color: var(--primarys);
        }


        .alert {
            width: 80%;
            margin: 10px auto;

        }


        .footer-top {
            padding-top: 90px;
            padding-bottom: 90px;
            background-color: var(--dark);
        }

        .footer-top a {
            color: var(--body);
        }

        .footer-top a:hover {
            color: var(--white);
        }

        .footer-bottom {
            background-color: var(--dark);
        }


        /* my css */

        body{
            transition: all 0.4s ease !important;
        }

        .text-purple {
            color: #FA58B6 !important;
        }


        .rad-bor {
            border-radius: 20px;
            background-color: black;
        }

        .btn {
            border-radius: 0px;
        }


        

        .hero h1,
        .hero p {
            color: #333;
        }


        .text-right {
            text-align: right !important;
        }


        .navbar,
        #home, 
        #services,
        #features,
        #portofolio,
        #ulasan
        #blog
        #contact
        #footer{
            transition: all 0.4s ease !important;
        } 
