@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');


:root {
            --primary: teal;
            --dark: #21252f;
            --body: #888;
            --white: #ffffff;
            --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
        }

/* Suwit Jawa 2.0 */

body {
    background-image: url(img/bg-dark.jpeg);
    /* font-family: arial; */
    overflow-x: hidden;
    font-family: "Sora", sans-serif;
    line-height: 1.7;
    color: var(--body);
    /* width: 105% !important; */
     transition: all 0.4s ease !important;
}

a {
    text-decoration: none;
}

nav h2{
    font-family: "Sora", sans-serif;
    font-weight: 700;
}

nav ul li:hover {
    background-color: teal;
    border-radius: 10px;
    
}

nav ul li a:hover {
    color: white !important;
    /* pointer-events:painted; */
}

nav ul li a{
    color: white !important;
    font-weight: 700 !important;
    font-size: 15px !important;
}

.navbar {
    background-color: #333 !important;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
     transition: all 0.4s ease !important;
}

.navbar h2{
    color: white;
}

#suwit {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    margin-top: 30px;
    text-transform: uppercase;
    color: #e7e7e7;
    text-shadow: 1.5px 1.5px 0 #333, 0px 1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px -1.5px 0 #333, -1.5px 1.5px 0 #333, 1.5px -1.5px 0 #333, 0.7778174593px 0.7778174593px 0 #aaaaaa, 1.5556349186px 1.5556349186px 0 #aaaaaa, 2.3334523779px 2.3334523779px 0 #aaaaaa, 3.1112698372px 3.1112698372px 0 #aaaaaa, 3.8890872965px 3.8890872965px 0 #aaaaaa, 4.6669047558px 4.6669047558px 0 #aaaaaa, 5.4447222151px 5.4447222151px 0 #aaaaaa, 6.2225396744px 6.2225396744px 0 #aaaaaa, 7.0003571337px 7.0003571337px 0 #aaaaaa, 7.7781745931px 7.7781745931px 0 #aaaaaa;
}

.container-suwit {
    width: 600px;
    margin: auto;
    padding: 20px;
    position: relative;
}

.area-komputer {
    width: 560px;
    height: 250px;
    margin: 5px auto;
    /* background-color: lightblue; */
    background-color: #333;
    /* background: linear-gradient(to bottom, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 100%); */
    position: relative;
    padding-top: 40px;
    box-sizing: border-box;
    border-radius: 40px 40px 0 0;
    /* box-shadow: 10px 10px 20px 5px #aaaaaa; */
    border: 2px solid teal;
     transition: all 0.4s ease !important;
}

.area-player {
    width: 560px;
    height: 250px;
    margin: 5px auto;
    /* background-color: lightgreen; */
    background-color: #333;
    /* background: linear-gradient(to bottom, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%); */
    position: relative;
    border-radius: 0 0 40px 40px;
    /* box-shadow: 10px 10px 20px 5px #aaaaaa; */
    border: 2px solid teal;
     transition: all 0.4s ease !important;
}

.info {
    width: 150px;
    height: 60px;
    border: 5px solid teal;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    top: 50%;
    margin-top: -30px;
    background-color: #333;
    border-radius: 30px;
    z-index: 1;
    text-align: center;
    line-height: 45px;
    color: teal;
    font-size: 26px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    transition: all 0.4s ease !important;
    font-weight: 800 !important;
}

.ul-suwit {
    padding-top: 80px;
    padding-left: 25px;
}

.li-suwit {
    display: inline-block;
    margin: 0 18px;
}

img {
    width: 130px;
    height: 130px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.img-komputer{
    box-shadow: 0 0 5px 1px teal;
}

.gajah,
.orang,
.semut {
    transition: .3s;
    position: relative;
    top: 0;
    cursor: pointer;
    box-shadow: 0 0 5px 1px teal;
}

.gajah:hover,
.semut:hover,
.orang:hover,
.active {
    box-shadow: 0 0 20px 10px teal;
}

.gajah:active,
.semut:active,
.orang:active {
    top: 2px;
}

footer{
    margin-top: 200px;
}

.footer-top {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--dark);
}
.footer-top a {
    color: var(--body);
}
.footer-top a:hover {
    color: var(--white);
}
.footer-bottom {
    background-color: var(--dark);
}